.simple-toaster {
  position: fixed;
  top: 0;
  margin: auto;
  text-align: center;
  color: #470450;
  font-weight: 600;
  z-index: 9999;
  padding: 1rem;
}

.simple-toast {
  transition: 1s;
  top: 0;
  background: #f6e5f6;
  border: 2px solid #ee55ee;
  box-shadow: 0px 0px 5px #ee55ee;
  border-radius: 6px;
  padding: 0.4rem;
  margin: auto;
  margin-top: 1rem;
  width: 20rem;
  min-width: 5rem;
  max-width: 20rem;
  animation: showToast 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 95%;
}

.right span {
  cursor: pointer;
}

.toast-title {
  text-align: center;
}

.toast-description {
  margin-top: 0.3rem;
}

.type-error {
  color: #f00;
}

.type-warning {
  color: rgb(252, 140, 4);
}

.hideToast {
  transition: 0.4s;
  opacity: 0.7;
  animation: hideToast 0.4s ease-in-out;
}

@keyframes showToast {
  0% {
    margin-top: 0rem;
  }
}

@keyframes hideToast {
  100% {
    margin-top: -1rem;
    opacity: 0;
  }
}
